<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<style>
    .accounts {
        margin: 0;
        padding: 10%;
    }
</style>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    {{template "navigation" .}}

    <div class="accounts">
        <div class="account-form">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{template "footer" .}}

    {{template "scripts"}}
</body>


</html>